Repository eslamdyab21/AMRs-in-Warehouse-Systems, pull requests merged in 2023-04, with the labels that each got.

#40 Database - Merge the code of the database with the documentation of the creation process
  .gitattributes
  .gitignore
  Graduation Project Documentation/Software/upload code to the micro-controller over wifi network @9.md
  Graduation-Project-Documentation/Data/Data.md
  Graduation-Project-Documentation/Data/database-creation@23.md
  Graduation-Project-Documentation/Data/inspect some metrics like most poplar product @22.md
  Graduation-Project-Documentation/Data/keep track and analyze the products in the different shelves @20.md
  Graduation-Project-Documentation/Data/keep track and analyze the robots different attributes like battery life @21.md
  Graduation-Project-Documentation/DevOps/CI-CD pipeline for the web application @25.md
  Graduation-Project-Documentation/DevOps/Create the cloud infrastructure, diagram and the cloudformation script @24.md
  Graduation-Project-Documentation/DevOps/Devops.md
  Graduation-Project-Documentation/Embedded/ARM embedded-c encoders code @14.md
  Graduation-Project-Documentation/Embedded/Arduino Encoders code @12.md
  Graduation-Project-Documentation/Embedded/Embedded.md
  Graduation-Project-Documentation/Embedded/PCB design @15.md
  Graduation-Project-Documentation/Embedded/PCB fabrication @16.md
  Graduation-Project-Documentation/Embedded/Robot mechanical design @13.md
  Graduation-Project-Documentation/Embedded/Test hardware components @11.md
  Graduation-Project-Documentation/Embedded/integrate ros with micro-controller in arduino @17.md
  Graduation-Project-Documentation/Embedded/integrate ros with micro-controller in embeded-c @18.md
  Graduation-Project-Documentation/Embedded/robot movement algorithm @19.md
  Graduation-Project-Documentation/Git-cheat-sheet.md
  Graduation-Project-Documentation/Pasted image 20221220203859.png
  Graduation-Project-Documentation/README-images/canvas.png
  Graduation-Project-Documentation/README-images/canvas2.png
  Graduation-Project-Documentation/README-images/obsidian-nodes.png
  Graduation-Project-Documentation/README.md
  Graduation-Project-Documentation/Software/Create a 2d map to update robots and shelves locations @1.md
  Graduation-Project-Documentation/Software/Create a 2d map to update robots and shelves locations from database @2.md
  Graduation-Project-Documentation/Software/Software.canvas
  Graduation-Project-Documentation/Software/Software.md
  Graduation-Project-Documentation/Software/Warehouse robots-shelves movement simulation @3.md
  Graduation-Project-Documentation/Software/backeend for a dashboard web application @6.md
  Graduation-Project-Documentation/Software/configure communication with raspberrypi over wifi @10.md
  Graduation-Project-Documentation/Software/frontend for a dashboard web application @5.md
  Graduation-Project-Documentation/Software/implement the 2d map in javascript-react (for later usage in web application) @4.md
  Graduation-Project-Documentation/Software/raspbian os on raspberrypi @7.md
  Graduation-Project-Documentation/Software/ros noetic on raspberrypi @26.md
  Graduation-Project-Documentation/Software/stream camera over rtsp with raspberrypi @8.md
  Graduation-Project-Documentation/Software/upload code to the micro-controller over wifi network @9.md
  database-creation/AMR_Warehouse Schema.vuerd
  database-creation/AMR_Warehouse.sql
  database-creation/README.md
  database-creation/testing_AMRs.sql
  warehouse-robots-shelves-simulation/__pycache__/Control.cpython-311.pyc
  warehouse-robots-shelves-simulation/__pycache__/Database.cpython-311.pyc
  warehouse-robots-shelves-simulation/__pycache__/Map2D.cpython-311.pyc
  warehouse-robots-shelves-simulation/__pycache__/Robot.cpython-311.pyc
  warehouse-robots-shelves-simulation/__pycache__/Shelf.cpython-311.pyc
Labels: documentation, database

#41 Database ---> Main : Merge the code of the database
  .gitattributes
  .gitignore
  Graduation-Project-Documentation/Data/database-creation@23.md
  Graduation-Project-Documentation/Pasted image 20221220203859.png
  database-creation/AMR_Warehouse Schema.vuerd
  database-creation/AMR_Warehouse.sql
  database-creation/README.md
  database-creation/testing_AMRs.sql
Labels: documentation, database

#44 Database - Merge the experiment of database servers comparison with the documentation of its steps, analysis, and results
  .gitignore
  Graduation-Project-Documentation/Data/database-servers@36.md
  database-servers-comparison/README.md
  database-servers-comparison/codes/MSSQL_AMR_Warehouse.sql
  database-servers-comparison/codes/MySQL_AMR_Warehouse.sql
  database-servers-comparison/codes/PostgreSQL_AMR_Warehouse.sql
  database-servers-comparison/servers-performance-analysis.ipynb
  database-servers-comparison/servers-performance-results.csv
  database-servers-comparison/servers-performance.ipynb
Labels: documentation, database, data analysis

#45 Database ---> Main : Merge the experiment of evaluating the execution time of different servers
  .gitignore
  Graduation-Project-Documentation/Data/database-servers@36.md
  database-servers-comparison/README.md
  database-servers-comparison/codes/MSSQL_AMR_Warehouse.sql
  database-servers-comparison/codes/MySQL_AMR_Warehouse.sql
  database-servers-comparison/codes/PostgreSQL_AMR_Warehouse.sql
  database-servers-comparison/servers-performance-analysis.ipynb
  database-servers-comparison/servers-performance-results.csv
  database-servers-comparison/servers-performance.ipynb
Labels: documentation, database, data analysis

#42 Feature/embedded/34
  ARM-LIB-Layer/BIT_MATH/BIT_MATH.h
  ARM-LIB-Layer/README.md
  ARM-LIB-Layer/STD_TYPES/STD_TYPES.h
  Graduation-Project-Documentation/.obsidian/app.json
  Graduation-Project-Documentation/.obsidian/appearance.json
  Graduation-Project-Documentation/.obsidian/community-plugins.json
  Graduation-Project-Documentation/.obsidian/core-plugins-migration.json
  Graduation-Project-Documentation/.obsidian/core-plugins.json
  Graduation-Project-Documentation/.obsidian/graph.json
  Graduation-Project-Documentation/.obsidian/hotkeys.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/Spaces.mdb
  Graduation-Project-Documentation/.obsidian/plugins/make-md/data.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/main.js
  Graduation-Project-Documentation/.obsidian/plugins/make-md/manifest.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/styles.css
  Graduation-Project-Documentation/.obsidian/workspace.json
  Graduation-Project-Documentation/Data/Data.md
  Graduation-Project-Documentation/Data/create a database with different tables for the shelves, robots, users and products @23.md
  Graduation-Project-Documentation/Data/inspect some metrics like most poplar product @22.md
  Graduation-Project-Documentation/Data/keep track and analyze the products in the different shelves @20.md
  Graduation-Project-Documentation/Data/keep track and analyze the robots different attributes like battery life @21.md
  Graduation-Project-Documentation/DevOps/CI-CD pipeline for the web application @25.md
  Graduation-Project-Documentation/DevOps/Create the cloud infrastructure, diagram and the cloudformation script @24.md
  Graduation-Project-Documentation/DevOps/Devops.md
  Graduation-Project-Documentation/Embedded/ARM embedded-c encoders code @14.md
  Graduation-Project-Documentation/Embedded/ARM-LIB-layer@34.md
  Graduation-Project-Documentation/Embedded/Arduino Encoders code @12.md
  Graduation-Project-Documentation/Embedded/Embedded.md
  Graduation-Project-Documentation/Embedded/PCB design @15.md
  Graduation-Project-Documentation/Embedded/PCB fabrication @16.md
  Graduation-Project-Documentation/Embedded/Robot mechanical design @13.md
  Graduation-Project-Documentation/Embedded/Test hardware components @11.md
  Graduation-Project-Documentation/Embedded/integrate ros with micro-controller in arduino @17.md
  Graduation-Project-Documentation/Embedded/integrate ros with micro-controller in embeded-c @18.md
  Graduation-Project-Documentation/Embedded/robot movement algorithm @19.md
  Graduation-Project-Documentation/Pasted image 20221220203859.png
  Graduation-Project-Documentation/README-images/canvas.png
  Graduation-Project-Documentation/README-images/canvas2.png
  Graduation-Project-Documentation/README-images/obsidian-nodes.png
  Graduation-Project-Documentation/README.md
  Graduation-Project-Documentation/Software/Create a 2d map to update robots and shelves locations @1.md
  Graduation-Project-Documentation/Software/Create a 2d map to update robots and shelves locations from database @2.md
  Graduation-Project-Documentation/Software/Software.md
  Graduation-Project-Documentation/Software/Warehouse robots-shelves movement simulation @3.md
  Graduation-Project-Documentation/Software/backeend for a dashboard web application @6.md
  Graduation-Project-Documentation/Software/configure communication with raspberrypi over wifi @10.md
  Graduation-Project-Documentation/Software/frontend for a dashboard web application @5.md
  Graduation-Project-Documentation/Software/implement the 2d map in javascript-react (for later usage in web application) @4.md
  Graduation-Project-Documentation/Software/raspbian os on raspberrypi @7.md
  Graduation-Project-Documentation/Software/ros noetic on raspberrypi @26.md
  Graduation-Project-Documentation/Software/stream camera over rtsp with raspberrypi @8.md
  Graduation-Project-Documentation/Software/upload code to the micro-controller over wifi network @9.md
Labels: embedded, Libraries

#46 Feature/embedded/12
  Graduation-Project-Documentation/Embedded/Embedded.md
  Graduation-Project-Documentation/Embedded/MCAL-core-peripheral-drivers@12.md
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_config.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_interface.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_private.h
  MCAL-core-peripheral-drivers/NVIC/src/NVIC_program.c
  MCAL-core-peripheral-drivers/NVIC/src/main.c
  MCAL-core-peripheral-drivers/README.md
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_config.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_interface.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_private.h
  MCAL-core-peripheral-drivers/SYSTICK/src/STK_program.c
  MCAL-core-peripheral-drivers/SYSTICK/src/main.c
Labels: embedded, Drivers

#49 Embedded --> main : Merge ARM LIB and core drivers
  .gitignore
  ARM-LIB-Layer/BIT_MATH/BIT_MATH.h
  ARM-LIB-Layer/README.md
  ARM-LIB-Layer/STD_TYPES/STD_TYPES.h
  Graduation-Project-Documentation/.obsidian/app.json
  Graduation-Project-Documentation/.obsidian/appearance.json
  Graduation-Project-Documentation/.obsidian/community-plugins.json
  Graduation-Project-Documentation/.obsidian/core-plugins-migration.json
  Graduation-Project-Documentation/.obsidian/core-plugins.json
  Graduation-Project-Documentation/.obsidian/graph.json
  Graduation-Project-Documentation/.obsidian/hotkeys.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/Spaces.mdb
  Graduation-Project-Documentation/.obsidian/plugins/make-md/data.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/main.js
  Graduation-Project-Documentation/.obsidian/plugins/make-md/manifest.json
  Graduation-Project-Documentation/.obsidian/plugins/make-md/styles.css
  Graduation-Project-Documentation/.obsidian/workspace.json
  Graduation-Project-Documentation/Embedded/ARM-LIB-layer@34.md
  Graduation-Project-Documentation/Embedded/Embedded.md
  Graduation-Project-Documentation/Embedded/MCAL-core-peripheral-drivers@12.md
  Graduation-Project-Documentation/Software/Warehouse robots-shelves movement simulation @3.md
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_config.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_interface.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_private.h
  MCAL-core-peripheral-drivers/NVIC/src/NVIC_program.c
  MCAL-core-peripheral-drivers/NVIC/src/main.c
  MCAL-core-peripheral-drivers/README.md
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_config.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_interface.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_private.h
  MCAL-core-peripheral-drivers/SYSTICK/src/STK_program.c
  MCAL-core-peripheral-drivers/SYSTICK/src/main.c
  README.md
Labels: embedded, Libraries, Drivers

#57 Database - Merge the data normalization process of our database
  .gitignore
  Graduation-Project-Documentation/Data/data-normalization@47.md
  Graduation-Project-Documentation/Data/database-servers@36.md
  data-normalization/AMR_Warehouse - Data Normalization.drawio
  data-normalization/README.md
  data-normalization/images/Customer_Services_Table.png
  data-normalization/images/Customers_Table.png
  data-normalization/images/Notifications_Table.png
  data-normalization/images/Orders_After_Normalization.png
  data-normalization/images/Orders_Table.png
  data-normalization/images/Products_Table.png
  data-normalization/images/Robots_Table.png
  data-normalization/images/Shelves_Table.png
  data-normalization/images/Wishlist_Table.png
  database-servers-comparison/README.md
  database-servers-comparison/codes/MSSQL_AMR_Warehouse.sql
  database-servers-comparison/codes/MySQL_AMR_Warehouse.sql
  database-servers-comparison/codes/PostgreSQL_AMR_Warehouse.sql
  database-servers-comparison/servers-performance-analysis.ipynb
  database-servers-comparison/servers-performance-results.csv
  database-servers-comparison/servers-performance.ipynb
Labels: enhancement, database, feature, testing

#58 Feature -> Data - Merge the data normalization process of our database
  Graduation-Project-Documentation/Data/data-normalization@47.md
  data-normalization/AMR_Warehouse - Data Normalization.drawio
  data-normalization/README.md
  data-normalization/images/Customer_Services_Table.png
  data-normalization/images/Customers_Table.png
  data-normalization/images/Notifications_Table.png
  data-normalization/images/Orders_After_Normalization.png
  data-normalization/images/Orders_Table.png
  data-normalization/images/Products_Table.png
  data-normalization/images/Robots_Table.png
  data-normalization/images/Shelves_Table.png
  data-normalization/images/Wishlist_Table.png
Labels: enhancement, database, testing

#61 Database - Merge the documentation of the database creation code after data normalization
  Graduation-Project-Documentation/Data/database-creation@23.md
  database-creation/AMR_Warehouse Schema.vuerd
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio.png
  database-creation/README.md
  database-creation/mysql-database-features.sql
  database-creation/mysql-database-tables.sql
  database-creation/postgres-database-features.sql
  database-creation/postgres-database-tables.sql
  database-creation/testing-queries.sql
Labels: enhancement, database, feature

#62 Database/Docker - Merge the postgres database with docker scripts and documentation
  .gitignore
  Graduation-Project-Documentation/Data/docker-with-databases@48.md
  Graduation-Project-Documentation/Data/images/docker_postgres_image.png
  docker-with-databases/Database_pstgress.py
  docker-with-databases/Dockerfile
  docker-with-databases/Logger.py
  docker-with-databases/README.md
  docker-with-databases/logger.log
  docker-with-databases/main.py
  docker-with-databases/postgres-database-tables.sql
Labels: enhancement, software, database, feature

#63 Feature -> Data - Merge the database creation code after data normalization wih the documentation
  Graduation-Project-Documentation/Data/database-creation@23.md
  database-creation/AMR_Warehouse Schema.vuerd
  database-creation/AMR_Warehouse.sql
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio.png
  database-creation/README.md
  database-creation/postgres-database-features.sql
  database-creation/postgres-database-tables.sql
  database-creation/testing-queries.sql
  database-creation/testing_AMRs.sql
Labels: documentation, database

#64 Database ---> Main : Merge database updates (data normalization, switching servers, and testing in docker).
  .gitignore
  Graduation-Project-Documentation/Data/data-normalization@47.md
  Graduation-Project-Documentation/Data/database-creation@23.md
  Graduation-Project-Documentation/Data/docker-with-databases@48.md
  Graduation-Project-Documentation/Data/images/docker_postgres_image.png
  data-normalization/AMR_Warehouse - Data Normalization.drawio
  data-normalization/README.md
  data-normalization/images/Customer_Services_Table.png
  data-normalization/images/Customers_Table.png
  data-normalization/images/Notifications_Table.png
  data-normalization/images/Orders_After_Normalization.png
  data-normalization/images/Orders_Table.png
  data-normalization/images/Products_Table.png
  data-normalization/images/Robots_Table.png
  data-normalization/images/Shelves_Table.png
  data-normalization/images/Wishlist_Table.png
  database-creation/AMR_Warehouse Schema.vuerd
  database-creation/AMR_Warehouse.sql
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio
  database-creation/Entity-Relationship-Diagram/AMR_Warehouse - ER Diagram.drawio.png
  database-creation/README.md
  database-creation/postgres-database-features.sql
  database-creation/postgres-database-tables.sql
  database-creation/testing-queries.sql
  database-creation/testing_AMRs.sql
  docker-with-databases/Database_pstgress.py
  docker-with-databases/Dockerfile
  docker-with-databases/Logger.py
  docker-with-databases/README.md
  docker-with-databases/logger.log
  docker-with-databases/main.py
  docker-with-databases/postgres-database-tables.sql
Labels: documentation, enhancement, database, testing

#60 install raspbian os on raspberrypi - issue 7
  Graduation-Project-Documentation/Embedded/install raspbian os on raspberrypi @7.md
  README.md
  install raspbian os on raspberrypi/README.md
Labels: embedded

#67 Embedded fix files for ARM-LIB-LAYER, MCAL-CORE-PERIPHERAL-DRIVER
  ARM-LIB-Layer/BIT_MATH/BIT_MATH.h
  ARM-LIB-Layer/STD_TYPES/STD_TYPES.h
  Graduation-Project-Documentation/Embedded/Arduino Encoders code @12.md
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_config.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_interface.h
  MCAL-core-peripheral-drivers/NVIC/include/NVIC_private.h
  MCAL-core-peripheral-drivers/NVIC/src/NVIC_program.c
  MCAL-core-peripheral-drivers/NVIC/src/main.c
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_config.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_interface.h
  MCAL-core-peripheral-drivers/SYSTICK/include/STK_private.h
  MCAL-core-peripheral-drivers/SYSTICK/src/STK_program.c
  MCAL-core-peripheral-drivers/SYSTICK/src/main.c
Labels: embedded
